<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#"> Know about us</a>
        <a class="nav-link" routerlink="/register" href="#"> Register user</a>
        <a class="nav-link" routerlink="/product" href="#"> AddProduct</a>
        <a class="nav-link" routerlink="/hospital" href="#"> HospitalDetails</a>
        <a class="nav-link" routerlink="/patient" href="#"> PatientDetails</a>
        <a class="nav-link" routerlink="/Directive" href="#"> Directive</a>
      </div>
    </div>
  </nav>
